@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/spozoga\/NetBeansProjects\/gamejump-front-template\/public_html\/scss\/code\.scss}line{font-family:\000032}}
.code {
  padding: 10px 20px;
  display: block;
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/spozoga\/NetBeansProjects\/gamejump-front-template\/public_html\/scss\/code\.scss}line{font-family:\000037}}
  .code .block {
    padding-left: 30px; }
